{% extends "jobs/index.html" %}
{% block content %}
<section class="p-5" id="hero">
    <!-- flex container -->
    <div class="container flex flex-col-reverse items-center px-6 mx-auto mt-10 space-y-0 md:flex-row md:space-y-0">
      <!-- left side -->
      <div class="flex flex-col mb-32 space-y-12 md:w-1/2">
        <h1 class="max-w-md mt-2 text-6xl font-bold text-center md:text-5xl md:text-left">
          About Us
        </h1>
        <p class="max-w-sm text-center text-black md:text-left">
          Hi I'm Leslie a self-taught computer programmer from Jamaica who's on the hunt for his first paid tech role,
          this site was made for my portfolio and I've decided to self host it so that I can help out my fellow devs especially in these hard time.
          This site is currently in an early stage so it's very rough but I'm currently planning to do a major update to the site 
          so please understand if it's not the best looking right now.  
        </p>
        <div class="justify-center hidden md:justify-start">
          <a class="p-3 px-6 text-white bg-green-400 rounded-full baseline hover:bg-yellow-500 hover:text-green-500" href="{% url 'jobs:list' %}">Contact me</a>
        </div>
      </div>
      <!-- image -->
      <div class="md:w-1/2">
        <img
          src="https://images.unsplash.com/photo-1599658880436-c61792e70672?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
          alt="graphic-3" class="rounded graphic" />
      </div>
    </div>
  </section>

  

{% endblock content %}