<div class="flex flex-col h-screen p-2 mx-auto overflow-y-auto bg-emerald-200">
  <div class="mt-2">
    <div class="flex flex-row items-center justify-evenly">
      <div>
        <h2 class="text-xl font-bold underline md:text-3xl underline-offset-1">
          {{ job.job_title }}
        </h2>
      </div>
      <div></div>
    </div>

    <div class="flex flex-col items-center">
      <div class="flex flex-row">
        {% if job.employer_logo == none %}
        <div class="md:ml-4">
          <h2 class="text-xl font-bold md:text-2xl">
            <a
              href="{{job.employer_website }}"
              class="text-green-500 hover:text-black"
              >{{ job.employer_name }}</a
            >
          </h2>
          <div class="flex flex-row justify-between">
            <div class="mr-2">
              <p class="text-xl">{{ job.job_employment_type }}</p>
            </div>
            <div class="ml-2">
              <p class="text-xl">
                Posted On: {{ job.job_posted_at_datetime_utc }}
              </p>
            </div>
          </div>
        </div>
        {% else %}
        <div
          class="w-10 h-10 mb-4 overflow-hidden rounded-full md:w-11 md:h-11 md:mb-0"
        >
          <img src="{{ job.employer_logo }}" alt="{{ job.employer_name }} " />
        </div>
        <div class="md:ml-4">
          <h2 class="text-xl font-bold md:text-2xl">
            <a
              href="{{job.employer_website }}"
              class="text-green-500 hover:text-black"
              >{{ job.employer_name }}</a
            >
          </h2>
          <div class="flex flex-row justify-between">
            <div class="mr-2">
              <p class="text-xl">{{ job.job_employment_type }}</p>
            </div>
            <div class="ml-2">
              <p class="text-xl">
                Posted On: {{ job.job_posted_at_datetime_utc }}
              </p>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="mb-0">
        {% if job_min_salary is None and job_max_salary is None %}
          <div class="">
            <p>No salary information provided</p>
          </div>
        {% elif job_min_salary is None and job_max_salary is not None %}
          <p>Max salary: {{job_max_salary}}</p>
        {% elif job_min_salary is not None and job_max_salary is None %}
          <p>Minimum salary: {{job_min_salary}}</p>
        {% else %}
          <div class="">
            <p>Salary ranage: ${{job_min_salary}} to ${{job_max_salary}}</p>
          </div>
        {% endif %}
      </div>
    </div>
    {% if job.apply_options == none %}
    <div class="hidden"></div>
    {% else %}
    <div class="md:ml-4">{{ job.apply_options }}</div>
    {% endif %}
  </div>

  <div class="flex flex-col items-center mt-4 overflow-y-auto min-h-fit">
    <div class="flex flex-row ">
      <div >
        {% if job.job_is_remote == True %}
        <p >remote: Yes</p>
        {% else %}
        <p>remote: No</p>
        {% endif %}
      </div>
      <div class="flex flex-row px-4 ">
        {% if job.job_country == none %}
        <div class=""><p>Job Country: Not availiable</p></div>
        {% else %}
        <div class="md:ml-4">{{ job.job_country }}</div>
        {% endif %}
      </div>
      
    </div>
    <p>{{ job.job_description }}</p>
  </div>

  <div class="flex justify-center">
    <a href="{{ job.job_apply_link }}" class="text-green-500 hover:text-black"
      >Apply Here</a
    >
  </div>
</div>
